<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cooperativeai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".activities.Map"
            android:supportsPictureInPicture="true"
            android:configChanges=
                "screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:taskAffinity=".activities.Map"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name=".activities.EditProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ForgetPassword"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SetupAccount"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.HomeFragment" />
        <activity
            android:name=".activities.Intro"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.WelcomePage"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.ProfileFragment" />
        <activity
            android:name=".activities.CameraActivity"
            android:theme="@style/cameraTheme" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/cameraTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>